.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.maze {
  position: relative;
  width: 540px;
  height: 540px;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(51, minmax(0, 1fr));
  grid-template-rows: repeat(51, minmax(0, 1fr));
}

.cell {
  width: 100%;
  height: 100%;
  border: 0.01px solid white;
  position: relative;
  cursor: pointer;
}

.pillar {
  width: 100%;
  height: 100%;
  background-color: grey;
}

.button {
  background-color: rgb(231 76 60);
  color: white;
  padding: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.koma {
  font-size: 100%; /* フォントサイズをリセット */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* お好みのサイズや調整を追加 */
}
